argparse
image-slicer==0.2.0
imageio==2.5.0
importlib-metadata==0.20
imutils==0.5.1
matplotlib==3.0.3
mrcfile==1.1.2
numpy==1.15.3
opencv-python==4.1.1.26
Pillow==9.0.1
ray==0.7.4
requests==2.21.0
scikit-image==0.15.0
scikit-learn==0.20.0
scipy==1.1.0
sklearn==0.0
tensorboard==1.11.0
tensorflow-gpu==1.4.0

